# Python cache / compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
.venv/

# Environment & config
*.env
.env.*

# IDE / Editor stuff
.vscode/
.idea/
*.swp
*.swo

# Distribution / packaging
build/
dist/
